<div class="layout">
  <div class="messaging">
    <div class="message" [ngClass]="{ 'reverse': x.personId === ui.me.id }" *ngFor="let x of messages; let i = index">
      <div class="photo-holder">
        <div class="photo" (click)="showPerson(x.person)" [title]="x.person.name" [style.background-color]="colorPerson(x.person.id)" *ngIf="showPhoto(i)">{{ x.person.name[0] }}</div>
      </div>
      <div class="content">
        <div class="body" [title]="sentAt(x)">
          {{ x.text }}
        </div>
        <div *ngIf="x.location" class="info">
          Sent from <a [routerLink]="['/', x.location.url]"> {{ x.location.name }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="typing" *ngIf="typing">
    {{ typing }}
  </div>
  <div class="send-message">
    <input [(ngModel)]="sendMessage" (ngModelChange)="sendTyping()" (keydown.enter)="send()" [placeholder]="'Reply to ' + messaging.name(group)" />
  </div>
</div>
