:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  width: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .messaging {
    height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    overflow-y: scroll;

    padding: 0 1rem;
  }

  .send-message {
    flex-shrink: 0;
    display: flex;
    padding: 1rem;

    input {
      width: 0;
      flex-grow: 1;
    }

    .i {
      margin-left: .5rem;

      &.lg {
        font-size: 20px;
      }
    }
  }
}

.typing {
  padding: 1rem 1rem 0;
  color: gray;
  font-style: italic;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.message {
  display: inline-flex;
  margin-top: .5rem;
  word-break: break-word;

  @media screen and (min-width: 640px) {
    max-width: 50%;
  }

  @media screen and (max-width: 640px) {
    max-width: calc(100% - 4rem);
  }

  &.reverse {
    flex-direction: row-reverse;
    align-self: end;

    .content {
      align-items: end;

      .body {
        background: #f0f0f0;
      }
    }

    .photo-holder {
      margin-left: .5rem;
    }
  }

  &:not(.reverse) {
    .content {
      align-items: start;
    }

    .photo-holder {
      margin-right: .5rem;
    }
  }

  .content {
    display: inline-flex;
    flex-direction: column;

    .body {
      padding: .5rem 1rem;
      border-radius: 1rem;
      background: #f8f8f8;
    }

    .info {
      font-size: 14px;
      color: gray;

      padding: .5rem 1rem;
    }
  }
}

.photo-holder {
  flex-shrink: 0;
  padding-top: .5rem;
  width: 2rem;

  .photo {
    cursor: pointer;
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;

    border-radius: 3rem;

    background: rosybrown;
  }
}
