<div class="card">
  <div class="card-title">
    <div class="card-title-text" (click)="showPerson(post.person)">{{ post.person?.name || 'Monkey' }}</div>
    <div class="i" *ngIf="ui.me?.id === post.person?.id" #menuTrigger (click)="menu.open(menuTrigger)">
      <span class="material-icons">more_vert</span>
    </div>
    <app-menu #menu [items]="menuItems(post)"></app-menu>
  </div>
  <div class="card-text">{{ post.text }}</div>
  <div class="input-wrapper" *ngIf="ui.me?.id !== post.person?.id">
    <input
      [(ngModel)]="replyMessage"
      (click)="signin()"
      (keydown.enter)="replyToPost()"
      [placeholder]="(ui.me ? 'Reply to ' : 'Sign in to reply to ') + (post.person?.name || 'Monkey')" />
    <div class="i" (click)="replyToPost()" *ngIf="!!replyMessage">
      <span class="material-icons">send</span>
    </div>
  </div>
</div>
