:host {
  width: 0;
  flex-grow: 1;
  display: flex;
  justify-items: start;
  justify-content: start;
  align-items: start;
  align-content: start;

  @media screen and (min-width: 960px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }

  padding: .5rem 1rem;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;

  .link {
    color: palevioletred;
    cursor: pointer;
  }
}

.header {
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
}
