.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-size: 14px;
  margin: 1rem 0;
}

.search {
  margin-bottom: 1rem;
}

.in {
  font-size: 14px;
  color: gray;
  cursor: pointer;
  display: inline-flex;

  &:hover {
    text-decoration: underline;
  }
}
