<div>
  <div *ngIf="ui.me">
    <div class="title">
      Profile
    </div>
    <p>
      {{ ui.me.email }}<br />
      <a *ngIf="ui.me" (click)="ui.unauth()">Sign out</a>
    </p>

    <div class="settings">
      <input [(ngModel)]="ui.me.name" (ngModelChange)="ui.saveMe()" placeholder="Your name" />
      <textarea placeholder="Introduction" [(ngModel)]="ui.me.introduction" (ngModelChange)="ui.saveMe()"></textarea>
    </div>

    <div class="title">
      Your hangouts
    </div>

    <app-location-list [locations]="locations" empty="None" (selected)="open($event)"></app-location-list>

    <hr />
    <p>
      Have an idea or any other feedback for Hangoutville?
    </p>
    <a (click)="sendIdea()">Share it!</a>
  </div>
  <div *ngIf="!ui.me">
    <div class="title">
      Profile
    </div>
    <a (click)="ui.auth()">Sign in</a>
  </div>
</div>
