.settings {
  margin: 1rem 0;
}

.long {
  word-break: break-word;
}

.title {
  .material-icons {
    cursor: pointer;
    color: lightgray;
    font-size: 16px;
    padding: 0 .25rem;
    vertical-align: middle;
  }
}
